httpx>=0.28.1
pillow>=11.0.0
python-dotenv>=1.2.1
python-telegram-bot[webhooks]>=22.5
requests>=2.32.5
langchain
langchain-openai
langchain-core
langgraph
langgraph-checkpoint-postgres
psycopg[binary,pool]

